.title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;
  margin: 0.25rem;
  overflow-wrap: break-word;
}

.desc {
  padding-top: 1rem;
  opacity: 0.8;
  line-height: 1.3rem;
}

.benefits_card {
  box-shadow: 0.062rem 0.312rem 0.625rem rgb(46 61 73 / 30%);
  transition: box-shadow 0.2s;
}

.benefits_card:hover {
  box-shadow: 0.062rem 1.25rem 1.562rem -0.312rem rgb(46 61 73 / 20%);

}

/*** Media Queries ***/

/* xs */
@media screen and (min-width: 0px) {
  .card_content {
    padding: 0 1rem;
  }
}

/* sm */
@media screen and (min-width: 600px) {
  .card_content {
    padding: 0 2rem;
  }
}

/* md */
@media screen and (min-width: 900px) {
}

/* lg */
@media screen and (min-width: 1200px) {
}
