@import "tailwindcss";

@theme {
  --font-barlow-condensed: 'Barlow Condensed', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-montserrat antialiased;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
} */


@utility captionM {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0%;
}

@utility captionL {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0%;
}

@utility bodyM {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0%;
}

@utility bodyL {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0%;
}

@utility h6 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0%;
}

@utility h5 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0%;
}

@utility h4 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -1%;
}

@utility h3 {
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -2%;
}

@utility h2 {
  font-size: 4rem;
  line-height: 4.5rem;
  letter-spacing: -3%;
}

@utility h1 {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -4%;
}
